<h1>Benvenuto</h1>
<p>Questa è la homepage del progetto di analisi delle acque mediante
    il metodo <i>LIM</i> della classe 3<sup>a</sup>CLS, seguito dalle
    professoresse Manaresi e Malandrino</p>
<a class="ui-btn ui-icon-bullets ui-btn-icon-left" href="?page=getAll">Visualizza i dati</a>
<a href="?slow" class="ui-btn ui-icon-cloud ui-btn-icon-left slow" data-icon="lock">Ho una connessione lenta</a>