<h1>Login</h1>
<?php if(isset($_GET["error"])){echo '<h3 class="errore">'.urldecode($_GET["error"])."</h3>";}?>
<form method="POST">
	<input type="hidden" name="action" value="login">
    Nome utente:
    <input type="text" name="utente">
    Password:
    <input type="password" name="password">
    <input type="submit" value="Entra">
</form>