a{
    display: block;
    border-radius: 1em;
    margin:1em;
    padding:0.5em;
    background-color: #ba0001;
    font-weight: bold;
    color:white;
    text-align: center;
    text-transform: none;
    font-family: sans-serif;
    text-decoration: none;
}
a:visited{
    color:white;
}
input{
    display:block;
    margin: 0.6em;
    width:100%;
    padding: 0.10em;
}
img.logoSmall{
    bottom: -0.25em!important;
}
body{
    font-family: sans-serif;
    background-color: #f9f9f9;
}
ul{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}
.redheader{
    border-radius:1.5em;
}
.isSlow{
    display:block!important;
}
.slow{
    display:none;
}