.redHeader{
    font-size: 1.1em;
    text-align: center;
    background-color: #b31a34;
    color: white;
    text-shadow: none!important;
    /*text-transform: uppercase;*/
}
.nascosto{
	display:none;
}
img.logoSmall{
    max-height: 1.75em;
    position: relative;
    bottom: -0.50em;
}
.errore{
	background-color: #df2140;
	text-align: center;
	display: block;
	color: white;
    font-size: 1.2em;
    font-weight: bold;
    margin:1em;
    padding:0.5em;
    border-radius: 0.5em;
    font-size: 1.2em;
    text-shadow: none!important;
}
.errore::before{
    content: "\f071";
    margin-right: 0.3em;
    font-family: FontAwesome;
}
.benvenuto{
    border: 1px solid #b31a34;
    border-radius: 1em;
}
.benvtxt{
    display: block;
    text-align: right;
    font-style: italic;
    position: relative;
    margin: 0.5em;
}
 table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table{
    width:95vw;
}
.red{
    background-color:#FF8C6D;
}
.yellow{
    background-color:#FFCE6D;
}
.green{
    background-color:#62E59B;
}
.blue{
    background-color: #6E91E1;
    color: white;
}
.bluscuro{
    color: white;
    background-color: #2E58BA;
}
td{
    text-align:center;
}
.isSlow{
    display:none;
}
