<h1>Alcalinit&agrave;</h1>
<form method="POST">
    <input type="hidden" name="action" value="invia">
    <input type="hidden" name="dato" value="alcalinita">
    <input type="hidden" name="posizione" id="posizione" value="">
    Molarit&agrave; HCl:
    <input type="text" id="molHCl" onchange="calcAlcalinita()">
    Volume HCl (mL):
    <input type="text" id="volHCl" onchange="calcAlcalinita()">
    Volume dell'acqua (mL):
    <input type="text" id="acqua" onchange="calcAlcalinita()">
    <!--
    Moli dell'HCl => vol
    Moli base => Moli HCl/2
    moli:volume=x:1000
    MM=100.087
    concentrazione= x*MM
    -->
    Alcalinit&agrave;:
    <input type="text" name="valore" id="alc">
    <input type="submit" value="Invia" disabled id="alcBtn">
</form>
