<h1>BOD<sub>5</sub></h1>
<form method="POST">
    <input type="hidden" name="action" value="invia">
    <input type="hidden" name="posizione" id="posizione" value="">
    BOD<sub>5</sub>:
    <input type="hidden" name="dato" value="bod5">
    <input type="text" name="valore" onkeypress="checkEmpty()" id="alc">
    <input type="submit" value="Invia"  id="alcBtn">
</form>
