<h1>Coliformi</h1>
<form method="POST">
    <input type="hidden" name="action" value="invia">
    <input type="hidden" name="posizione" id="posizione" value="">
    Coliformi:
    <input type="hidden" name="dato" value="coliformi">
    <input type="text" name="valore" onkeypress="checkEmptyNoGPS()" id="alc">
    <input type="submit" value="Invia" id="alcBtn">
</form>
