<h1>Conducibilit&agrave;</h1>
<form method="POST">
    <input type="hidden" name="action" value="invia">
    <input type="hidden" name="posizione" id="posizione" value="">
    Conducibilit&agrave;:
    <input type="hidden" name="dato" value="conducibilita">
    <input type="text" name="valore" onkeypress="checkEmpty()" id="alc">
    <input type="submit" value="Invia" disabled id="alcBtn">
</form>
