<h1><i>Escherichia coli</i></h1>
<form method="POST">
    <input type="hidden" name="action" value="invia">
    <input type="hidden" name="posizione" id="posizione" value="">
    Colonie:
    <input type="hidden" name="dato" value="ecoli">
    <input type="text" name="valore" id="alc">
    <input type="submit" value="Invia"  id="alcBtn">
</form>
