<h1>Nitrati</h1>
<form method="POST">
    <input type="hidden" name="action" value="invia">
    <input type="hidden" name="posizione" id="posizione" value="">
    Nitrati:
    <input type="hidden" name="dato" value="nitrati">
    <input type="text" name="valore" onkeypress="checkEmpty()" id="alc">
    <input type="submit" value="Invia" disabled id="alcBtn">
</form>
