<h1>Ossigeno disciolto</h1>
<form method="POST">
    <input type="hidden" name="action" value="invia">
    <input type="hidden" name="action" value="invia">
    <input type="hidden" name="posizione" id="posizione" value="">
    Ossigeno disciolto:
    <input type="hidden" name="dato" value="ossigenodisciolto">
    <input type="text" name="valore" onkeypress="checkEmpty()" id="alc">
    <input type="submit" value="Invia" disabled id="alcBtn">
</form>
