<h1>Solidi Totali</h1>
<form method="POST">
    <input type="hidden" name="action" value="invia">
    <input type="hidden" name="posizione" id="posizione" value="">
	Volume dell'acqua:
	<input type="text" onchange="delta('bs','b','st');prop('st','a',100.0,'st')" id="a">
    Massa becher:
    <input type="text" onchange="delta('bs','b','st');prop('st','a',100.0,'st')" id="b">
    Massa becher + solidi totali:
    <input type="text" name="valore" onchange="delta('bs','b','st');prop('st','a',100.0,'st')" id="bs">
    <input type="hidden" name="dato" value="soliditotali">
    <input type="text" name="valore" id="st">
    <input type="submit" value="Invia" disabled id="alcBtn">
</form>
