<h1>Temperatura</h1>
<form method="POST">
    <input type="hidden" name="posizione" id="posizione" value="">
    <input type="hidden" name="action" value="invia">
    <input type="hidden" name="dato" value="temperatura">
    Temperatura nella stazione di riferimento:
    <input type="text" id="temp" onchange="delta('temp','temp1','deltaT')">
    Tmperatua 1 km  monte:
    <input type="text" id="temp1" onchange="delta('temp','temp1','deltaT')">
    &Delta;T:
    <input type="text" name="valore"id="deltaT">
    <!--
    Moli dell'HCl => vol
    Moli base => Moli HCl/2
    moli:volume=x:1000
    MM=100.087
    concentrazione= x*MM
    -->
    <input type="submit" value="Invia" disabled id="alcBtn">
</form>
