<h1>Torbidit&agrave;</h1>
<form method="POST">
    <div class="errore">Inserire le misure in cm</div>
    <input type="hidden" name="action" value="invia">
    <input type="hidden" name="posizione" id="posizione" value="">
    Misura dall'alto:
    <input type="hidden" name="dato" value="torbidita">
    <input type="text" onchange="media('mis1','mis2','torbidita');cmtoft('torbidita');" id="mis1">
    Misura dal basso:
    <input type="text" onchange="media('mis1','mis2','torbidita');cmtoft('torbidita');" id="mis2">
    Torbidit&agrave;:
    <input type="text" name="valore" id="torbidita">
    <input type="submit" value="Invia" disabled id="alcBtn">
</form>
